[submodule "TwUITests/expecta"]
	path = TwUITests/expecta
	url = git://github.com/github/expecta.git
[submodule "TwUITests/specta"]
	path = TwUITests/specta
	url = git://github.com/petejkim/specta.git
